@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");

@keyframes hoverEffect {
  0% {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }
  25% {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75)
    );
  }
  50% {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
  }
  75% {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25)
    );
  }
  100% {
    background: linear-gradient(
      to bottom,
      rgba(255, 4, 4, 0),
      rgba(0, 0, 0, 0)
    );
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins";
  margin-inline: 50px 30px;
  text-decoration: underline;
  margin-top: 90px;
  color: #1b1b1b;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  font-family: "Poppins";
  background-color: #c4c4c498;
  z-index: 2;
  backdrop-filter: blur(2px);
}
nav .logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 15px;
  cursor: pointer;
  color: #fcfcfc;
}
nav img {
  height: 100%;
}
nav ul {
  display: flex;
  width: 50%;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li:hover {
  cursor: pointer;
  color: #f9f9f9;
  transition: 0.2s;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  margin: 10px;
}
.left {
  position: relative;
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 4/3;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.share {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fcfcfc;
  z-index: 1;
}

.left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
.left .overlay {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 1rem;
  transition: 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  padding-left: 20px;
}
.overlay h3 {
  font-weight: 600;
  color: #fcfcfc;
  width: 90%;
}
.overlay p {
  color: #e9e9e988;
  font-size: 0.8rem;
}
.left:hover .overlay {
  animation-name: hoverEffect;
  animation-duration: 0.3s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.left:hover img {
  scale: 1.04;
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}
.right section {
  aspect-ratio: 4/3;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.11);
  cursor: pointer;
  transition: transform 0.3s;
}

.right section:hover {
  transform: translateY(-2px);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.11);
}
.right section p {
  color: #9c9c9c;
}
.right section h2 {
  color: #292929;
}
.right section span.source {
  background-color: rgba(255, 176, 28, 0.562);
  padding: 0 5px;
  color: orange;
}
.card-top {
  display: flex;
  justify-content: space-between;
}

.card-top span i {
  margin-inline: 5px;
}
.left {
  aspect-ratio: 4/3;
}

.fa-share {
  color: #e44b46;
  cursor: pointer;
}
footer {
  background-color: #1b1b1b;
}
footer ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  font-family: monospace;
}
footer ul li {
  cursor: pointer;
  color: #d6d6d6bd;
}
@media screen and (max-width: 425px) {
  main {
    display: flex;
    flex-direction: column;
    /* font-size: 0.6rem; */
  }
  h1 {
    font-size: 1.2rem;
    margin-left: 10px;
  }
  .left .overlay {
    height: 30%;
    font-size: 0.7rem;
  }
  .overlay p {
    font-size: 0.5rem;
  }
  .right {
    grid-template-columns: 1fr;
  }
  .right section {
    aspect-ratio: none;
  }
}
@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .left {
    height: 100%;
  }
  nav ul {
    display: none;
  }
}
